body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

body {
  background-image: url("/abstract32.jpg");
  background-repeat: no-repeat;
  background-color: #f4f6f5;
  background-size: cover;
}
/* ------------------- */

.header{
grid-column:2 / 3;
grid-row: 1/2;

  /* padding:7px; */
  border-radius: 10px;

 background-color: #3a85e9;
 color:#fff;
 align-self: center;
 font-size: 3em;
 letter-spacing: 5px;
 text-align: center;
 font-style: italic;
 text-shadow: 2px 5px #616161;
    box-shadow: 0px 6px 15px 0px #3a3746;
}

  .wrapper1{
    display: grid;
    grid-gap: 5px;

    margin: 0px auto 50px auto;
    width:75%;

    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 100px auto auto;

    /* grid-gap: 0 10px; */

    align-content: center;
    justify-content: center;
  }
  
.accord{
  grid-column:2 / 3;
  grid-row: 1 / 2; 
  min-width: 550px;
}
  .content{
    grid-column:2 / 3;
    grid-row: 3 / 4;
  }



  .footer{
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  /* height: 400px; */
  margin-top: 20px;
  overflow: auto;
  /* width:75%; */
  margin:0 auto;
  }


.wrapper1 > * {
  /* background-color: rgb(226, 233, 241);
  color: rgb(96, 54, 54); */
  border-radius: 5px;
  /* padding: 20px; */
  /* font-size: 100%; */
  /* needed for the floated layout*/
  /* margin-bottom: 10px; */
}

.wrapper2{
  display: grid;
  /* grid-gap: 5px; */

  margin: 0px auto 50px auto;
  width:75%;
  min-width: 700px; 

  grid-template-columns: 100px 1fr 100px;
  grid-template-rows:  auto;

  /* grid-gap: 0 10px; */

  align-content: center;
  justify-content: center;
}
